*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    body{
        text-align: center;
        background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(38,39,41,1) 100%);
    
    }
    div{
        width: 200px;
        height: 200px;
        background: thistle;
        padding: 50px 0px 0px 00px;
        margin: 10px;
        display: inline-block;
        border: 2px solid purple; 
        text-align: center;
    }
    #caja14{
        background: palevioletred ;
        margin: 10px 100px 20px 20px ; 
        border: 10px groove black;  
     }
     #caja7{
        box-shadow: 0px 0px 50px beige;
        border-radius: 80% 80% 50% 50%;
     }
     #caja1{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid white;
        box-shadow: 20px 10px 10px plum;
        border-radius: 80% 50% 50% 50%;
        background: thistle;   
     }
     #caja3{
        width: 100px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid rgb(77, 18, 18);
        box-shadow: 20px 10px 10px rgb(226, 31, 17);
        border-radius: 80% 70% 50% 50%;
        background: rgb(242, 13, 9);   
     }
     #caja9{
        width: 400px;
        height: 200px;
        padding: 20px 60px 0px 70px;
        margin: 15px;
        border: 5px solid rgb(76, 5, 175);
        box-shadow: 20px 10px 10px rgb(14, 84, 215);
        border-radius: 0% 50% 50% 50%;
        background: rgb(103, 154, 248);   
     }
     #caja11{
        width: 280px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid rgb(249, 1, 154);
        box-shadow: 20px 10px 10px plum;
        border-radius: 60% 5% 50% 50%;
        background: rgb(142, 85, 126);   
     }

     #caja13{
       width: 209px;
        height: 100px;
        padding: 30px 60px 0px 50px;
        margin: 15px;
        border: 5px solid rgb(20, 4, 4);
        box-shadow: 20px 10px 10px rgb(8, 81, 31);
        border-radius: 50% 50% 50% 50%;
        background: rgb(99, 176, 115);   
     }
     #caja16{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid white;
        box-shadow: 20px 10px 10px plum;
        border-radius: 10% 50% 10% 50%;
        background: rgb(117, 9, 117);   
     }
     #caja18{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid rgb(169, 128, 128);
        box-shadow: 20px 10px 10px rgb(10, 10, 8);
        border-radius: 80% 50% 50% 50%;
        background: rgb(45, 20, 125);   
     }
     #caja20{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid white;
        box-shadow: 20px 10px 10px plum;
        border-radius: 80% 50% 50% 50%;
        background: thistle;   
     }
     #caja5{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid white;
        box-shadow: 20px 10px 10px plum;
        border-radius: 80% 50% 50% 50%;
        background: thistle;   
     }
    #caja5:hover{
        width: 400px;
        height: 200px;
        padding: 50px 60px 0px 00px;
        margin: 15px;
        border: 5px solid white;
        box-shadow: 20px 10px 10px plum;
        border-radius: 80% 50% 50% 50%;
        background: thistle;
        transform: scale(1.2);
        transform: rotate(1080deg);
        transition: 1s all ease;   
     }
